<div class="container-fluid">
  

  
  <div class="row top">
    <!-- brnad logo and name design -->

    <nav class="col-12 navbar navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="../assets/github-logo.png" class="d-inline-block align-top logo" alt="logo">
        <span class="heading">
          <span class="brand-pre">GitHub</span><span class="brand-suf">APPLICATION</span>
        </span>
      </a>
    </nav>

  </div>


  <div class="row mid">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </div>


  <div class="row bottom" hidden></div>

  <div class="right-bar row p-1">
    <h6 class="text-center ml-auto mr-auto">&copy; all rights reseved</h6>
  </div>


</div><!--MAIN CONTAINER_FLUID-->